<%= render partial: 'refills/hero', locals: {
  title: 'Good Boy Scouts',
  text: 'All these guys have done some real good stuff!',
  button_type: :modal,
  modal_id: 'modal-new-good-guy',
  modal_text: 'Add another good guy',
} %>

<div class="modal">
  <input class="modal-state" id="modal-new-good-guy" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-new-good-guy"></label>
      <%= form_for(GoodGuy.new) do |f| %>
        <h1>A new Good Guy!</h1>
        <p class="intro">What's the name of this to be worshipped guy?</p>
        <div class="body">
          <%= f.text_field :name %>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container" %>
<div class="cards">
<% @good_guys.each do |good_guy| %>
  <div class="card">
    <div class="card-header">
      <%= good_guy.name %>
    </div>
    <div class="card-copy">
      <p>
      <% if good_guy.good_deeds.any? %>
        <%= good_guy.good_deeds.sample.title %>
      <% else %>
        Unfortunately this guy has not done something good, yet.
      <% end %>
      </p>
      <label for="modal-<%= good_guy.id %>">
        <div class="button js-btn">Add a good deed</div>
      </label>
      <%= render partial: 'good_deeds/new_modal', locals: { good_guy: good_guy, good_deed: good_guy.good_deeds.new } %>
    </div>
    <a class="card-stats" href="<%= good_guy_path(good_guy) %>">
      <ul>
        <li><%= good_guy.good_deeds.count %><span>Good Deeds</span></li>
      </ul>
    </a>
  </div>
<% end %>
</div>
</div>
